.flowchart {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem;
   border-radius: 10px;
   width: fit-content;
   width: 100%;
   max-width: 100%;
   overflow-x: auto;
   /* Enables horizontal scrolling if needed */
   white-space: nowrap;
}

.flow-row {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   flex-wrap: nowrap
}


.dot {
   width: 8px;
   height: 8px;
   background: #fff;
   border-radius: 50%;
   position: relative;
}


.connector {
   width: 50px;
   height: 2px;
   background: #fff;
}

.node {
   background: #222;
   color: #fff;
   padding: 10px 20px;
   border-radius: 20px;
   font-size: 14px;
   font-weight: 500;
   position: relative;
   white-space: nowrap;
}

.vertical-connector {
   position: absolute;
   width: 2px;
   height: 40px;
   background: #fff;
   left: 85.2%;
   bottom: 21.5%;
   transform: translateX(-50%);
}